body{
    background-color: aliceblue;
    margin-left: 50px;
    margin-right: 50px;
    border-left-width: 10px;
    padding-left: 50px;
    padding-right: 50px;

}

hr{
    width: 100%;
    background-color: rgb(242 242 247);
    border-width: 1px;
    border-top-style: double;
}
/************************* Class Selector ***********************/
.header1{   /* This is know as class selector in CSS */ 
    color: rgb(7, 152, 248);
}
.header2{
    color: rgb(4, 173, 240);
}

.Circular{
    border-radius: 100%;
    padding-left: 30px;
    padding-right: 30px;
    border-left-width: 30px;

}

.table-header {
	
	width:100%;
	background:#85affc;
	padding: 0px;
}


/******************* ID Selector (ID can be use only once for a page/each Instance *******************/
#Skill{
    color: rgb(4, 173, 240); 

}

#hr{
    border-width: 2px;
}
