body{
    background-color: aliceblue;
    margin-left: 50px;
    margin-right: 50px;
    border-left-width: 10px;
    padding-left: 50px;
    padding-right: 50px;

}

hr{
    width: 100%;
    background-color: rgb(242 242 247);
    border-width: 1px;
    border-top-style: double;
}
/************************* Class Selector ***********************/
.header1{   /* This is know as class selector in CSS */ 
    color: rgb(7, 152, 248);
    
}
.header2{
    color: rgb(4, 173, 240);
}

.Circular{
    border-radius: 100%;
    padding-left: 30px;
    padding-right: 30px;
    border-left-width: 30px;

}

.table-header {
	
	width:100%;
	background:#85affc;
	padding: 0px;
    vertical-align: middle;

}

.table{
    
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 0px;
    border-left-width: 30px;
    width: 655px;
    border-right-width: 50px;
    padding-right: 0px;

}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 5;
    padding-bottom: 10px;
    padding-top: 10px;
    overflow: hidden;
    background-color: #3b8efa;
    font-size: medium;
  }

  .li_a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
  }

  .li{
    
    float: left;
    padding-left: 0px;
    padding-right: 20px;

  }


  .square{
    
    border-left-width: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(41, 89, 248);
    height: 400px;
    width: 500px;
  }
/******************* ID Selector (ID can be use only once for a page/each Instance *******************/
#pic{
    height: 350px;
    margin-top: 25px;
    
}
#Skill{
    color: rgb(4, 173, 240); 

}

#hr{
    border-width: 2px;
}

#h2{
    text-align: center;
    color: rgb(7, 152, 248);
}
