body{
    background-color: aliceblue;
}
hr{
    width: 100%;
    background-color: rgb(242 242 247);
    border-width: 2px;
    border-top-style: double;
}
/************************* Class Selector ***********************/
.header1{   /* This is know as class selector in CSS */ 
    color: brown;
}
.header2{
    color: rgb(4, 173, 240);
}
.Circular{
    border-radius: 100%;
}

/******************* ID Selector (ID can be use only once for a page/each Instance *******************/
#Skill{
    color: rgb(4, 173, 240);
    
}
